<footer id="s4" class="container-fluid text-center">
    <h2 class="titulos1">Derechos Reservados</h2>
    <h3 class="titulos2">Curso Node.js Udemi {{anio}}</h3>
    <br><br>
    <div class="espacio">
        <a href="http://www.facebook.com" target="blank">
            <i class="fab fa-facebook fa-4x" style="color:#fff"></i>
        </a>
    </div>
    <div class="espacio">
        <a href="http://www.twitter.com" target="blank">
            <i class="fab fa-twitter-square fa-4x" style="color:#fff"></i>
        </a>
    </div>
    <div class="espacio">
        <a href="http://www.youtube.com" target="blank">
            <i class="fab fa-youtube-square fa-4x" style="color:#fff"></i>
        </a>
    </div>
</footer>